html, body {
  margin: 0;
  padding: 0;
  font-size: 17.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.bolder-font {
  font-weight: 600;
}

.font-opacity-darker {
  color: hsl(0, 0%, 45%);
}

.font-opacity-lighter {
  color: hsl(0, 0%, 18%);
}


.container {
  width: 100%;
}

.no-margin-display-inline {
  display: inline-block;
  margin: 0;
}

.main-color {
  color: #2f92d8;
}

.link-style {
  color: inherit;
}

#today-date {
  font-style: normal;
}

#temperature-feel {
  font-style: normal;
}


.pointer:hover {
  cursor: pointer;
}

.nightmode-background {
  background-image: linear-gradient(to right, #0c2745, #11345a, #16416f, #1c4e86, #225c9d) !important ;
}

.nightmode-color {
  color: #225C9D !important ;
}

/* ------------------------ HEADER ------------------------ */

header {
  color: #2f92d8;
  background-color: white;
  height: auto;
  padding: 11px;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, .5);
  position: relative;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}


#settings {
  display: none;
  opacity: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 1rem;
  border-top: 1px solid gray;
}

#settings-header {
  margin-top: 10px;
  pointer-events: none;
}

.settings-icon {
  color: white;
  font-size: 16px;
  background-color: #2f92d8;
  border-radius: 4px;
  border-radius: 4px 0px 0px 4px/4px 0px 0px 4px;
  display: inline-block;
  width: 30px;
  padding: 8px 0px 10px 15px;
}

input[type=text], select {
  width: 200px;
  height: 33px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  padding-left: 10px;
  border-radius: 0;
  margin-bottom: 15px;

}

#temperature-scale {
  width: 212px;
  height: 37px;
  background-color: white;
  color: gray;
}


.show {display: block !important;}

#gear-button {
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

#gear-button:hover {
  transform: rotate(360deg);
}

.location {
  float: right;
  margin: 0;
}

#city {
  margin-left: 10px;
  margin-right: 10px;
}

.arrow-button {
  position: relative;
  right: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #5cb85c;
}

.arrow-button:hover {
  cursor: pointer;
  background-color: #4cae4c;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#nightmode-switch {
  position: absolute;
  margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------------ Weather-Today ------------------------ */

#weather-today {
  line-height: 120%;
  color: white;
  /* background: #00c6ff;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #7FB0E7;
  background-image: linear-gradient(to right, #8cb9eb, #87b9eb, #81b9ec, #7bbaec, #75baec);
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, .3);

}

#weather-today-heading {
  font-size: .8rem;
  margin: 0;
  padding: 25px;
}

.weather-now {
  font-size: 2rem;
  margin-left: 20px;
}

.weather-today-info {
  font-size: .8rem;
  margin-top: 20px;
  position: relative;
  left: 12px;
}

.wti-margin {
  margin-right: 20px;
  margin-left: 4px;
}

.weather-today-content {
  margin-bottom: 15px;
}

/* ------------------------ WEATHER-TODAY-HOURS  ------------------------ */

#weather-today-hours {
  text-align: center;
  color: white;
  /* background: #00c6ff;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #98CDEE;
  background-image: linear-gradient(to right, #92beed, #93c2ee, #94c6ee, #96c9ee, #99cdee);



  width: 100%;
  font-size: .8rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#weather-today-hours::-webkit-scrollbar {
    display: none;
}

.wth-box {
  display: inline-block;
  width: 10%;
  text-align: center;
  padding: 10px;
  margin-bottom: 12px;
}

.wth-margin {
  margin-top: 15px;
}

/* ------------------------ FORECAST  ------------------------ */

#forecast {
  padding: 15px;
}

.forecast-box {
  width: 100%;
  font-size: .8rem;
  margin-bottom: 25px;
  /* border-bottom: 1px solid;
  border-bottom-color: rgb(201, 208, 218); */
}

.forecast-box-rightside {
  float: right;
  font-size: .9rem;
  margin-left: 30px;
  position: relative;
  bottom: 8px;
  width: 8%;

}


/* ------------------------ FOOTER  ------------------------ */


#footer {
  color: #0072ff;
  width: 100%;
  font-size: .9rem;
  padding: 3px;

}
